
<!-- <div class="jumbotron">
  <div class="container text-center">
    <h1>My Portfolio</h1>
    <p>Some text that represents "Me"...</p>
  </div>
</div> -->

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style= "text-align: left;">
                <h1>Quizzoid</h1>
                <h2>A quiz app!</h2>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <img height="120" width="120" vspace="30" align="middle" src="../../resources/images/quiz1.png"/>
            </div>
        </div>
      </div>
</div>
