<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav nav-justified">
        <li><a href="/">Home</a></li>
        <li><a href="/sign_up">Sign Up</a></li><li>
        <a href="/log_in" class="together"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="/contact_us">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>
