<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/scripts.ejs%>
    <% include partials/title.ejs%>
  </head>
  <body>
    <% include partials/headerForOthers.ejs%>
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">Contact Us</div>
        <div class="panel-body">
          <div class="row text-center marginTop30">
              <div class="col-sm-4 col-xs-6">
                <h1><span class="glyphicon glyphicon-earphone size50"></span></h1>
                <h3>Phone</h3>
                <h3>+1-980-349-0298</h3>
                <h3>+1-980-349-9926</h3>
              </div>
              <div class="col-sm-4 col-xs-6">
                <h1><span class="glyphicon glyphicon-home size50"></span></h1>
                <h3>Location</h3>
                <h3>Charlotte, NC</h3>
              </div>
              <div class="col-sm-4 col-xs-6">
                <h1><span class="glyphicon glyphicon-envelope size50"></span></h1>
                <h3>E-mail</h3>
                <h3>skabra@uncc.edu</h3>
                <h3>cjain@uncc.edu</h3>
              </div>
             </div>
        </div>
      </div>
    </div>
  </body>
</html>
