<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/scripts.ejs%>
    <% include partials/title.ejs%>
  </head>
  <body>
    <% include partials/headerForOthers.ejs%>
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">Getting Started...</div>
        <div class="panel-body">
            <a href="/start_quiz">
              <button type="button" class="btn btn-primary btn-lg btn1">Take the quiz</button>
            </a>
            <a href="/create_quiz">
              <button type="button" class="btn btn-primary btn-lg btn1">Create your own quiz</button>
            </a>
        </div>
      </div>
    </div>
  </body>
</html>



<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Getting Started...</div>
    <div class="panel-body">

      <label class="container">One
        <input type="radio" checked="checked" name="radio">
        <span class="checkmark"></span>
        </label>
        <label class="container">Two
        <input type="radio" name="radio">
        <span class="checkmark"></span>
        </label>
        <label class="container">Three
        <input type="radio" name="radio">
        <span class="checkmark"></span>
        </label>
        <label class="container">Four
        <input type="radio" name="radio">
        <span class="checkmark"></span>
        </label>
    </div>
  </div>
</div>
