<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/scripts.ejs%>
    <% include partials/title.ejs%>
  </head>
  <body>
    <% include partials/header.ejs%>
    <% include partials/navigationBar.ejs%>
    <div class = "container">
      <h1>Free self-paced general knowledge quiz to review, assess, motivate yourself!</h1>
      <br>
      <a href="/sign_up">
        <button type="button" class="btn btn-primary btn-lg btn1">Get Started by Signing up today</button>
      </a>
      <h6>Already have an account?</h6>
      <a href="/log_in">
        <button type="button" class="btn btn-primary btn-sm btn1">Login here!</button>
      </a>
      <br>
      <br>
      <h6>Suited for parents, children and everyone else.</h6>
    </div>
  </body>
</html>
