<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/scripts.ejs%>
    <% include partials/title.ejs%>
  </head>
  <body>
    <% include partials/headerForOthers.ejs%>
    <h1>Score</h1>
    <%= score %>
    <%= maxScore %>
    <%= percentage %>
  </body>
</html>
